html {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Consolas;
}

header {
    box-sizing: border-box;
    min-height: 50vh;
    text-align: center;
    padding-top: 2%;
    transform-style: inherit;
    width:100vw
}
header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height:30vh;
    background-color: #171717
}
header div {
    margin: top -100px;
    color: #ededed
}
main {
    color: #ededed;
    background-color: #444444;
}